dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.idea/

src/test/homework2/task2/_trial_temp/
src/test/homework2/task1/_trial_temp/_trial_marker
src/test/homework2/task1/_trial_temp/test.log
src/test/homework2/task2/_trial_temp/
src/main/homework1/frontend/__pycache__/
src/main/homework1/backend/__pycache__/
src/main/homework1/__pycache__/
